 html,body{
    margin: 0px;
    font-family: monospace, monospace;

 }

 .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
 }
 .login-box{
    box-shadow: 0px -2px 35px 0px rgba(0,0,0,0.75);
    background-color: wheat;
    min-width: 30%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
 }
 .login-title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
 }

 input{
    display: flex;
    flex-grow: .08;
    align-self: center;
    margin: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: wheat;
    border-radius: .5vh;

 }

